<launch>
    <node pkg="ssafy_ad" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="ssafy_ad" type="gpsimu_parser.py" name="gpsimu_parser" />
    <!-- <node pkg="ssafy_ad" type="global_path_pub.py" name="global_path_pub"  /> -->
    <node pkg="ssafy_ad" type="mgeo_dijkstra_path_1.py" name="global_path_pub"  />
    <node pkg="ssafy_ad" type="local_path_pub.py" name="local_path_pub" />
    <!-- <node pkg="ssafy_ad" type="pure_pursuit.py" name="pure_pursuit"  /> -->
    <!-- <node pkg="ssafy_ad" type="pid_control.py" name="pid_control"  /> -->
    <!-- <node pkg="ssafy_ad" type="velocity_planning.py" name="velocity_planning"  /> -->
    <node pkg="ssafy_ad" type="advanced_purepursuit.py" name="advanced_purepursuit" output="screen" />
    <node pkg="ssafy_ad" type="tf_pub.py" name="tf"  />

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafy_ad)/rviz/kcity_rviz.rviz" /> -->
</launch>