<launch>
    <node pkg="ssafy_ad" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="ssafy_ad" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="ssafy_ad" type="mgeo_dijkstra_path_1.py" name="mgeo_dijkstra_path"  />
    <!-- <node pkg="ssafy_ad" type="mgeo_dijkstra_path_2.py" name="mgeo_dijkstra_path"  /> -->
    <node pkg="ssafy_ad" type="local_path_pub.py" name="local_path_pub" />
    <node pkg="ssafy_ad" type="traffic_light.py" name="traffic_light" output="screen" />
    <node pkg="ssafy_ad" type="tf_pub.py" name="tf"  />

</launch>